*{
    margin-top:0;
    padding: 0;
    box-sizing: border-box;
    background-color: #173977;
    font-family: sans-serif;
    outline: none;
}
.container{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: #75b5e6;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #4c61a7,
                5px 5px 12px rgba(0,0,0,.16);
    display: grid;
    grid-template-columns: repeat(4,68px);
                
}
input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #dbe8f1;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 30px;
    color: rgb(70, 70, 70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}
button{
    height: 48px;
    width: 48px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px #1e2588,
                5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
    

}
.equal{
    width:120px;
    border-radius:40px;
}
button:hover{
    background-color:rgb(78, 12, 233);
    color: white;
    cursor:pointer;
    
}
h1{
    position: fixed;
    font-size: 50px;
    font-style: oblique;
    color: #dbe8f1;
} 
